@keyframes typewriter {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes moveInTop {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }

/* @keyframes scaleDown {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} */
@keyframes scaleUp {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }

/* @keyframes openDown {
  0% {
    transform: scale(0.01, 0.01);
   // transform-origin: 50% 50%;
  }

  50% {
    transform: scale(1, 0.01);
  }

  100% {
    transform: scale(1, 1);
  }
} */
@keyframes openDown {
  0% {
    height: 0; }
  100% {
    height: auto; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes desaturate {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes slider {
  10% {
    margin-left: 0; }
  20% {
    margin-left: -25%; }
  35% {
    margin-left: -25%; }
  45% {
    margin-left: -50%; }
  65% {
    margin-left: -50%; }
  75% {
    margin-left: -75%; }
  100% {
    margin-left: -75%; } }

@keyframes slideDown {
  0% {
    height: 0; }
  100% {
    height: 195px; } }

@keyframes slideUp {
  0% {
    height: 195px; }
  100% {
    height: 0; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem; }

a {
  text-decoration: none; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

p {
  color: #e0e0e0;
  font-family: "Josefin Sans", sans-serif; }

.btn {
  border: 1.5px solid #111111;
  color: #111111;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  align-self: start;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  margin: 2rem 0;
  display: grid;
  justify-self: center; }
  .btn:hover {
    background: #111111;
    color: #e0e0e0; }

.btn-default {
  min-width: 24rem;
  box-shadow: inset 0 1px 3px #727272;
  font-family: "Abril Fatface", cursive;
  font-weight: 500;
  background: white; }

.btn-inverse {
  background: #111111;
  color: #e0e0e0;
  transition: all 0.2s; }
  .btn-inverse:hover {
    background: #e0e0e0;
    color: #111111; }

.justify-center {
  display: grid;
  justify-self: center; }

.hidden {
  display: none !important; }

@media only screen and (max-width: 1000px) {
  .sm-hidden {
    display: none !important; } }

@media only screen and (max-width: 1000px) {
  .md-hidden {
    display: none !important; } }

.sm-show {
  display: none; }
  @media only screen and (max-width: 1000px) {
    .sm-show {
      display: block !important; } }

.fade {
  animation: fadeIn 0.8s ease-in-out;
  animation-fill-mode: alternate; }

.fadeOut {
  animation: fadeOut 0.8s;
  animation-fill-mode: forwards; }

.scale-up {
  animation: scaleUp 0.4s ease-in-out;
  animation-fill-mode: alternate; }

.fade-delay {
  animation: fadeIn 0.5s ease-in-out 1.4s forwards;
  animation-fill-mode: backwards; }

.openDown {
  animation: openDown .2s ease-in;
  overflow: hidden; }

.desaturate {
  animation: desaturate 0.6s ease-in forwards;
  transform-origin: bottom right; }

.moveOutRight {
  animation: moveOutRight 0.5s;
  animation-direction: alternate; }

.moveInRight {
  animation: moveInRight 0.5s;
  animation-direction: alternate; }

.slideDown {
  animation: slideDown 0.5s; }

.slideUp {
  animation: slideUp 0.5s forwards; }

img.obj-pos-top {
  object-position: top; }

img.obj-pos-20 {
  object-position: 0 20%; }

svg {
  height: 2rem;
  width: 2rem;
  fill: #e0e0e0; }

input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0; }

body {
  display: grid;
  padding: 2rem;
  grid-template-columns: minmax(2rem, 1fr) minmax(30rem, 60rem) minmax(2rem, 1fr);
  background: #111111; }

.weather-wrapper {
  grid-column: 2 / 3;
  padding: 5rem;
  border: 1px solid #727272; }

.cities-wrapper {
  grid-column: 2 /3; }

img {
  width: 100%; }

h1 {
  font-size: 6rem; }
  @media only screen and (max-width: 56.25em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

p {
  font-size: 1.6rem; }

li {
  color: #adacac; }

.text-center {
  text-align: center; }

.weather-wrapper {
  background: linear-gradient(to right bottom, #54ad79, #a0f0c1);
  border-radius: 25px;
  box-shadow: 0 1px 3rem #3b7553; }
  .weather-wrapper .main-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center; }
    .weather-wrapper .main-weather .temp-desc,
    .weather-wrapper .main-weather .temp-degrees {
      font-size: 3rem; }
    .weather-wrapper .main-weather img {
      width: 7rem;
      align-self: start; }
  .weather-wrapper ul {
    padding: 3rem;
    background: white; }
    .weather-wrapper ul li.weather-attribute {
      color: #5c5c5c;
      padding: 2rem 2rem;
      border-bottom: 1px solid #e0e0e0; }
    .weather-wrapper ul .alert-message {
      color: red; }

h1 {
  color: white;
  letter-spacing: 3px;
  text-shadow: 0 2px 3px #3b7553;
  margin-bottom: 2rem;
  font-family: "Abril Fatface", cursive; }

.city-input::placeholder {
  color: #c1c0c0; }

.btn {
  background: #54ad79;
  color: white;
  border: #3b7553; }

.active {
  text-shadow: 0 2px 3px #3b7553;
  font-weight: bolder; }
