$primary: rgb(84, 173, 121);
$primary-dark: rgb(59, 117, 83);
$primary-light: #a0f0c1;

$white: rgb(255,255,255);

$dark-gray-1: #111111;
$dark-gray-2: #5c5c5c;
$dark-gray-3: #727272;

$light-gray-1: #e0e0e0;
$light-gray-2: #c1c0c0;
$light-gray-3: #adacac;

$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Abril Fatface', cursive;

$bp-sm:37.5em; // 600
$bp-md:56.25em; //900px
$bp-lg:75em; //1200px
$bp-xl:84.375em;