/* The container must be positioned relative: */
.change-location__country-select {
  position: relative;
  font-family: Arial;
}

.change-location__country-select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $primary transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $primary transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: $dark-gray-3;
  padding: 8px 16px;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-selected {
  background-color: white;
  border: 1px solid $dark-gray-3;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  color: white;
  //top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 30rem;
  height: 30rem;
  overflow: scroll;
  box-shadow: 0 5px 20rem $dark-gray-2;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
